[Unit]
Description=Nubert Bluetooth Daemon for speaker %I
After=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/bin/nubertctl --daemon --address "%I"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
