[Unit]
Description=Nubert Volume Sync for speaker %I
After=pipewire.service pipewire-pulse.service nubert-daemon@%i.service
Requires=nubert-daemon@%i.service

[Service]
Type=simple
ExecStart=/usr/bin/nubert_pulseaudio_sync "%I"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
